    #impiccato {
      margin-bottom: 20px;
    }
    #parola {
      font-size: 24px;
      margin-bottom: 20px;
    }
    .lettera {
      margin: 2px;
      padding: 10px;
      font-size: 18px;
      cursor: pointer;
      background-color: lightgray;
    }
    .lettera-corretta {
      background-color: green;
    }
    .lettera-sbagliata {
      background-color: red;
    }